
/* defs */
:root {
    --bgColorLvl1: rgba(28, 33, 39, 0.946);
    --bgColorLvl2: rgba(88, 62, 62, 0.596);
    --websiteTitleTextColor: rgba(214, 204, 195, 0.945);
    --paragraphTextColor:  rgba(239, 233, 228, 0.945);
    --paragraphFooterTextColor:  rgba(135, 135, 135, 0.945);
    --subitem1TextColor: rgb(219, 46, 46);
    --subitem2TextColor: rgb(202, 100, 234);
    --subitem2bgColor:   rgba(116, 59, 59, 0.596);
    --bgColorFooter:  rgba(49, 55, 63, 0.946); 
    --bgColorHeader:  rgba(48, 48, 48, 0.946); 
    --bgColorNavigationBar:  rgba(62, 62, 62, 0.946); 
  }

/* body */
body { /* reminder do not use this */
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  body.loaded {
    opacity: 1;
    background-color: var(--bgColorLvl1);
    margin: 0px;
    padding: 0px;
  }


  /* header */
    #headerDiv {
        border: 2px;
        border-style: solid;
        border-color: rgba(58, 52, 52, 0.94);
        background-color: var(--bgColorHeader) ;
        padding: 0px;
        margin: 0px;
    }



  /* Navigation Bar */
  #NavigationMenuDiv {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #333; 
    height: 60px;
    padding: 0 20px; 
    margin-bottom: 70px;
}
    #icn_user {
        font-size: 24px; 
        color: black; 
        font-family: 'Segoe UI Emoji', 'Apple Color Emoji', sans-serif; 
        border: 2px;
        border-style: solid;
        border-color: gray;
        border-radius: 7px;
        background-color: lightgrey;
    }
    #icn_user:hover{
        border-style: double;
        background-color:white;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #737373;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
      }
    .dropdown:hover .dropdown-content {
        display: flex;
    }
    #txt_loggedInUser {
        color: rgb(7, 205, 7);
        font-weight: 700;
    }


    .navContent {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
.navTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    border: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
}
/* Media query to hide .navTitle when viewport width is less than 600px */
@media (max-width: 800px) {
    .navTitle {
        display: none;
    }
}
    .navButtons {
        display: flex;
        gap: 10px; 
    }
    .navButtonsButton {
        background-color: #555;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
        border-radius: 5px;
    }
    .navButtonsButton:hover {
        background-color: #777; 
    }





    /* general */

/* subitem*/
  /*div decoration*/
    .subitemDiv{
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgba(58, 52, 52, 0.94);
    background-color: var(--bgColorLvl2) ;
    padding: 10px;
    margin: 32px;
    }
       /*text decoration*/
        .subitemTitleIcon{
            text-shadow: 5%;
            color: var(--subitem1TextColor);
            font-size: 40px;
            padding-right: 5px ;
            margin: 0px;
        }
        .subitemTitleText{
            color: var(--subitem1TextColor);
            font-size: 35px;
            height: auto;
            width: auto;
            padding-top: 0px;
            padding-bottom: 10px;
            margin-top: 13px;
        }



#footerDiv {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed; /* Fix it to the viewport */
    bottom: 0;       /* Align to the bottom */
    left: 0;         /* Align to the left edge */
    width: 100%;     /* Full width across the viewport */
    z-index: 1000;   /* Ensure it stays on top of other elements */
}
.pFooter a {
    color: #f1c40f;
    text-decoration: none;
}
.pFooter a:hover {
    text-decoration: underline;
}



/* general */
  .centered{
    align-items: center;
    text-align: center;
}
.container{ /*Horizontal Allignment */
    display: flex;
}

h1 {
    color: var(--websiteTitleTextColor);
}
p {
   color: var(--paragraphTextColor);
}
.pFooter {
    color: var(--paragraphFooterTextColor); 
}
